<h1 class="page-header">{{name}}</h1>

<!--<div class="panel panel-default">
  <div class="panel-body">
    <p><h4>Current Status: <span class="label label-success">Good</span></h4></p>
  </div>
</div>-->

<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li class="active"><a href="#data" data-toggle="tab">Data</a></li>
  <li><a href="#reports" data-toggle="tab">Reports</a></li>
</ul>
<div class="tab-content">
	<div class="tab-pane active" id="data">
		<div id="chart_container" style="padding:4px;">
			<div id="chart"></div>
			<div id="timeline"></div>
			<div id="preview"></div>
		</div>
	</div>
  <div class="tab-pane" id="reports">
  	<div class="panel panel-default">
		  <div class="panel-body">
		    <form class="form-inline" method="get">
		    	<div class="form-group">
				    <label class="sr-only" for="filterStartDate">Start Date</label>
				    <input type="datetime" class="form-control" id="filterStartDate" placeholder="Start Date">
				  </div>
				  <div class="form-group">
				    <label class="sr-only" for="filterEndDate">End Date</label>
				    <input type="datetime" class="form-control" id="filterEndDate" placeholder="EndDate">
				  </div>
				  <button type="submit" class="btn btn-primary">Filter</button>
				  <button id="clear-reports-button" class="btn btn-danger pull-right">Clear</button>
		    </form>
		  </div>

		  <table class="table">
		  	<thead>
			    <tr>
			    	<th>Date</th>
			    	<th>Battery Voltage</th>
			    	<th>Event Count</th>
			    	<th>Min</th>
			    	<th>Max</th>
			    </tr>
			  </thead>
			  <tbody>
		    {{#each reports}}
		    	<tr>
		    		<td>{{timestamp}}</td>
		    		<td>{{data.batteryVoltage}}</td>
		    		<td>{{data.bulkAggregates.count}}</td>
		    		<td>{{data.bulkAggregates.min}}</td>
		    		<td>{{data.bulkAggregates.max}}</td>
		    	</tr>
		    {{/each}}
		    </tbody>
		  </table>
		  <div class="panel-footer">
		  	<a class="pull-right" href="#">
		      Download as CSV
		    </a>
		  	<ul class="pager">
				  <li class='disabled'><a href="#">Previous</a></li>
				  <li class='disabled'><a href="#">Next</a></li>
				</ul>
		  </div>
		</div>
  </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="deleteModalLabel">Clear reports?</h4>
      </div>
      <div class="modal-body">
        Are you sure you want to clear all reports for this monitor from the Strato system?  This action cannot be undone.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">No, nevermind</button>
        <button id="actually-delete-button" type="button" class="btn btn-danger" data-dismiss="modal">Yes, clear them</button>
      </div>
    </div>
  </div>
</div>