/* Shared things */
html, body, section, header, footer {
	margin:0 0 0 0;
	padding:0 0 0 0;
	font-size:100%;
}

html, body {
	height:100%;
	min-width:100%;
}

body {
	background-color: #EEEEEE;
}

/* HEADER */
header {
	background-color:#C1C7C7;
	text-align:left;
	height:60px;
	vertical-align: bottom;
}
#logo {
	margin-left:10px;
}
#link_section {
	margin-right:10px;
	float:right;
	font-size:80%;
}

/* FOOTER */
footer {
	text-align:right;
	font-size:60%;
	height:20px;
	background-color: #C1C7C7;
	position:absolute;
	bottom:0px;
	width:100%;
	vertical-align: middle;
}
#copyright {
	margin-right:10px;
	vertical-align: middle;
}

/* CONTENT */
#content {
	position:absolute;
	top:60px;
	width:100%;
	bottom:20px;
}
#left_section {
	height:100%;
	width:20%;
	float:left;
}

/* MAP */
#map_section {
	height:100%;
	width:80%;
	float:right;
}

#map_canvas {
	height:100%;
	width:100%;
}

/* fullscreen app */