/*
 * Import nib
 */
@import 'nib'

/*
 * Grab a custom font from Google
 */
@import url('http://fonts.googleapis.com/css?family=Quicksand')

/*
 * Nib provides a CSS reset
 */
global-reset()

chrome-bg-color = #C1C7C7
header-height = 60px
footer-height = 0px
sidebar-width = 200px

/* Shared things */
html, body, section, header, footer {
	margin:0 0 0 0;
	padding:0 0 0 0;
	font-size:100%;
	font-family: 'Abel', sans-serif;
}

html, body {
	height:600+header-height+footer-height;
	min-width:800+20px;
}

#wrapper {
	min-height:600+header-height+footer-height;
	height:100%;
	overflow:hidden;
}

/* HEADER */
header {
	background-color:chrome-bg-color;
	height:header-height;
	width:100%
}
#logo {
	margin-left:10px;
	height:header-height;
}
#link_section {
	margin-right:10px;
	float:right;
	font-size:80%;
}
nav {
	font-size:80%;
	position:absolute;
	top:header-height+-20px;
	left:sidebar-width+10px;
}

/* FOOTER */
footer {
	text-align:right;
	font-size:60%;
	height:footer-height;
	background-color: chrome-bg-color;
	position:absolute;
	bottom:0px;
	width:100%;
	vertical-align: baseline;
}
#copyright {
	margin-right:10px;
	vertical-align: baseline;
}

/* CONTENT */
#content {
	position:absolute;
	top:header-height;
	width:100%;
	bottom:footer-height;
	min-height:600px;
}
#left_section {
	min-height:620px+footer-height;
	height:100%;
	width:sidebar-width;
	background-color:chrome-bg-color;
}

/* MAP */
#map_section {
	bottom:0px;
	top:0px;
	left:0px;
	right:0px;
	position:absolute;
	min-width:820px;
	min-height:620px;
//	display:none;
}

/* MAP */
#data_section {
	bottom:0px;
	top:0px;
	left:0px;
	right:0px;
	position:absolute;
	text-align:center;
	min-width:800px;
	min-height:600px;
	background-color:white;
//	display:none;
}

#map_canvas {
	height:100%;
	width:100%;
}

/* fullscreen app */
