#titular {
	color: blue;
	font-size: 80%;
	text-align: center;
}
/* TABLES */

#water-health-rating {
	position:absolute;
	top:350px;
	left:250px;
	height:25px;
	width:100%;
}

#water-per-person {
	position:absolute;
	top:425px;
	left:250px;
	height:25px;
	width:100%;
}

#precipitation-last-month {
	position:absolute;
	top:350px;
	left:625px;
	height:25px;
	width:100%;
}

#events-per-person {
	position:absolute;
	top:425px;
	left:625px;
	height:25px;
	width:100%;
}

/* MAP */
#graph_img{
	position:absolute;
	top:50px;
	left:250px;
	height:250px;
}

#map_clip{
	position:absolute;
	top:20px;
	left:20px;
	size: 50%;
}
#status-table{
	position:absolute;
	top: 220px;
	left:20px;
	width:100%;
}
/*iframe map*/

iframe-rwd  {
position: relative;
padding-bottom: 65.25%;
padding-top: 30px;
height: 0;
overflow: hidden;
}
iframe-rwd iframe {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
