h1.datapage-title {
	margin-top:5px;
	font-size: 16pt;
}

#datapage_content {
	position:absolute;
	top:10px;
	left:10px;
	right:10px;
	bottom:10px;
}

#datapage_left {
	width:240px;
	position:absolute;
	left:0px;
	top:0px;
	bottom:0px;
}
#datapage_map {
	height:240px;
	width:240px;
	border-style:solid;
	border-width:1px;
}
#datapage_monitorList {
	margin-top:10px;
	position:absolute;
	left:0px;
	top:240px;
	width:240px;
	border-style:solid;
	border-width:2px;
	border-bottom:solid 1px;
}

#datapage_right {
	position:absolute;
	left:250px;
	right:0px;
	top:0px;
	bottom:0px;
	float:right;
}
#datapage_visualization {
	position:absolute;
	left:0px;
	top:0px;
	bottom:180px;
	right:0px;
	border-style:solid;
	border-width:1px;
	overflow:hidden;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;

	/*
	 Introduced in IE 10.
	 See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
	*/
	-ms-user-select: none;
	user-select: none;
}
#datapage_stats {
	height:170px;
	position:absolute;
	left:0px;
	bottom:0px;
	right:0px;
}
ul {
	list-style: none;
}
li.header {
	background-color: #9999FF;
	font-weight: bold;
	border-bottom:solid 2px;
	padding-top:5px;
	padding-bottom:5px;
}
li.monitor {
	border-bottom: solid 1px;
	background-color: #FFFFCC;
	padding-top:5px;
	padding-bottom:5px;
	cursor:default;
}
li.monitor span {
	vertical-align: middle;
	cursor: inherit;
}

svg {
	font-size:10px;
}
