<div style="width:200px; margin-right:auto; margin-left:auto; margin-top:20px;">
	<form accept-charset="UTF-8" id="login-form">
	  <input id="user_username" style="margin-bottom: 15px;" type="text" name="username" size="30" placeholder="Email..."/>
	  <input id="user_password" style="margin-bottom: 15px;" type="password" name="password" size="30" placeholder="Password..."/>
	  <div class="input-group"><input id="user_remember_me" style="float: left; margin-right: 10px;" type="checkbox" name="user[remember_me]" value="1" />
	  <label class="string optional" for="user_remember_me"> Remember me</label></div>
	 
	  <input class="btn btn-primary" style="clear: left; width: 100%; height: 32px; font-size: 13px;" type="submit" name="commit" value="Sign In" />
	</form>
</div>