<h1 class="page-header">{{name.title}}</h1>
<div class="table-responsive">
  <table class="table table-hover">
    <input id="filter-input" placeholder="Filter" type="text" class="pull-right form-control" style="width: 30%; margin-right: 15px" value="{{filter}}"/>
    <thead>
      <tr>
        {{#each columns}}
          <th>{{pretty}}</th>
        {{/each}}
        <th class="resource-manager"></th>
      </tr>
    </thead>
    <tbody>
      {{#each data}}
        <tr class="linkRow" data-id="{{id}}">
          {{#each columns}}
            {{#if this.isRef}}
              <td>
              {{#each refs}}
                <span class="label label-info">{{.}}</span>
              {{/each}}
            {{else}}
              <td>{{.}}</td>
            {{/if}}
          {{/each}}
          <td class="resource-manager"><a class="editResource hidden">edit</a>&nbsp;<a data-toggle="modal" data-target="#deleteModal" class="deleteResource">delete</a></td>
        </tr>
      {{/each}}
    </tbody>
    <tfoot>
      <form>
      <tr id="create-resource-row" class="hidden">
      {{#each columns}}
        {{#if this.create }}
          <td><input style="width:100%" type="text" data-name="{{this.raw}}" placeholder="{{this.create.placeholder}}"></input></td>
        {{else}}
          <td></td>
        {{/if}}
      {{/each}}
        <td ><button id="create-resource-button" class="btn btn-primary" type="submit">Create</button></td>
      </tr>
      </form>
      <tr id="plus-button-row" class="resource-manager">
        <td><button id="plus-button" class="btn btn-primary">+</button>
        {{#each columns}}
          <td></td>
        {{/each}}
      </tr>
    </tfoot>
  </table>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="deleteModalLabel">Delete {{name.pretty_singular}}?</h4>
      </div>
      <div class="modal-body">
        Are you sure you want to remove this {{name.pretty_singular}} from the Strato system?  This action cannot be undone.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">No, nevermind</button>
        <button id="actually-delete-button" type="button" class="btn btn-danger" data-dismiss="modal">Yes, delete it</button>
      </div>
    </div>
  </div>
</div>