h1.datapage-title {
  margin: 5px;
  font-size: 20pt;
}
#datapage_content {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  min-width: 1024px;
}
#datapage_left {
  width: 240px;
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
}
#datapage_map {
  height: 240px;
  width: 240px;
  border-style: solid;
  border-width: 1px;
}
#datapage_monitorList {
  margin-top: 10px;
  position: absolute;
  left: 0px;
  top: 240px;
  width: 240px;
  border-style: solid;
  border-width: 1px;
  border-bottom: solid 0px;
}
#datapage_right {
  position: absolute;
  left: 250px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  float: right;
  max-width: 1024px;
}
#datapage_visualization_container {
  position: relative;
  display: inline-block;
  width: 100%;
  background-color: #f8f8ff;
  margin-right: 10px;
}
#datapage_visualization_dummy {
  padding-top: 50%;
}
#datapage_visualization {
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
/*
	 Introduced in IE 10.
	 See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
	*/
  -ms-user-select: none;
  user-select: none;
}
#datapage_stats {
  height: 180px;
  margin-top: 10px;
}
ul {
  list-style: none;
  max-height: 420px;
  overflow: auto;
}
div.monitor-list-header {
  background-color: #99a2a5;
  color: #fff;
  border-bottom: solid 1px #000;
  padding-top: 5px;
  font-size: 20px;
  padding-bottom: 5px;
  height: 20px;
}
li.monitor {
  border-bottom: solid 1px #000;
  background-color: #f8f8ff;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: default;
}
li.monitor.highlighted {
  background-color: #99dcf8;
}
li.monitor span {
  vertical-align: middle;
  cursor: inherit;
}
div.stats-health {
  float: left;
  padding: 20px;
  text-align: center;
  font-size: 20px;
  border: solid 1px;
  width: 240px;
}
span.stats-health-num {
  color: #1240ab;
  font-size: 55px;
}
span.stats-health-demom {
  color: #06266f;
  font-size: 40px;
}
div.stats {
  margin-left: 300px;
  text-align: left;
  padding-top: 10px;
  font-size: 20px;
}
span.stats-value {
  color: #1240ab;
  font-size: 30px;
}
span.stats-big-value {
  color: #1240ab;
  font-size: 40px;
}
svg {
  font-size: 10px;
}
