<div style="width:200px; margin-right:auto; margin-left:auto; margin-top:20px;">
	<form accept-charset="UTF-8" id="change-password-form">
	  <input id="old_password" style="margin-bottom: 15px;" type="password" name="old_password" size="30" placeholder="Current Password..."/>
	  <input id="new_password" style="margin-bottom: 15px;" type="password" name="new_password" size="30" placeholder="New Password..."/>
	  <input id="confirm_new_password" style="margin-bottom: 15px;" type="password" name="confirm_new_password" size="30" placeholder="Confirm New Password..."/>
	  
	  <input class="btn btn-primary" style="clear: left; width: 100%; height: 32px; font-size: 13px;" type="submit" name="commit" value="Submit" />
	</form>
</div>