<div id="datapage_content">
	<div id="datapage_left">
		<div id="datapage_map"></div>
		<div id="datapage_monitorList">
			<div class="monitor-list-header">
				Monitors
			</div>
			<ul>
			{{#monitors}}
				<li class="monitor">
					<span>{{name}}</span>
				</li>
			{{/monitors}}
			</ul>
		</div>
	</div>
	<div id="datapage_right">
		<div id="datapage_visualization_container">
			<div id="datapage_visualization_dummy"></div>
			<div id="datapage_visualization"></div>
		</div>
		<div id="datapage_stats">
			<h1 class="datapage-title">{{name}}</h1>
			<div class="stats-health">
				<span class="stats-health-num">76</span><span class="stats-health-denom">/100</span><br/>
				Water Point Health Rating
			</div>
			<div class="stats">
				<span class="stats-caption">Average Measured Liters/Day: </span>
				<span class="stats-value">37</span><br/>
				<span class="stats-caption">Average Water Consumption (extrapolated) Liters/Day: </span>
				<span class="stats-value">55</span><br/>
		</div>
	</div>
</div>